.left-breathe {
    position:relative; left:1em;
    border-radius: 43%
}
.left-indent {
    position:relative; left:2.5em;
}
.float-left {
    float:left;
}
.vAlign {
    line-height: 5em;
}

body {
    background-color: gold;
}